form  > span{
    color: red;
}
h1{
    text-align: center;
    font-family: 'Indie flower', cursive;
}
h1, form label, form button, form input, form span{
    font-family: 'Indie flower', cursive;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
button{
    padding: .75em;
    border-radius: .3em;
    background-color: rgb(13, 75, 13);
    color: rgb(176, 92, 233);
    bottom: 1px solid black;
    cursor: pointer;
}
button:hover{
    background-color: rgba(23, 206, 39, 0.952);
}
input[type = text]{
    margin-bottom: 1em;
}

form label{ 
    display: inline-block; 
    width: 50%;
    text-align: right;
    margin-right: 2em;
}

form button{
    margin-left: 50%;

}

@media only screen and (max-width: 600px){
    form label{
        text-align: left;
        width: 100%
    }
    form button{
        margin-left: 0%;
    }
}